html {
  font-size: 12px;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif, monospace;
  font-size: 100%;
  text-align: center;
  min-width: 300px;
  background: center no-repeat linear-gradient(135deg, rgba(53, 53, 53, 0.9) 0%, rgba(107, 107, 107, 0.8) 100%), url('../img/notepad_background.jpg');
  background-size: cover;
}

h1 {
  font-size: 2.8rem;
  font-variant: small-caps;
}

#description {
  font-style: italic;
}

@media screen and (min-width: 500px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 3.5rem;
  }
}

section {
  padding: 1rem;
  color: black;
  background-color: #fbfeff;
  border-radius: 5px;
  margin: 3rem auto;
  max-width: 500px;
}

label {
  margin: 0.4rem;
}

.vertical-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.vertical-form-group input,
.vertical-form-group select,
.vertical-form-group textarea,
.vertical-form-group button {
  align-self: stretch;
  margin-left: 0.4rem;
}

.horizontal-input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  background-color: #4e81b7;
  border: none;
  color: white;
  height: 3rem;
}
